{% extends cms_backend_template %}

{% if cms_content_form_theme is not empty %}
    {% form_theme cmsContentForm cms_content_form_theme %}
{% endif %}

{% if cms_serialized_data_form_theme is not empty %}
    {% form_theme serializedDataForm cms_serialized_data_form_theme %}
{% endif %}

{% block content %}
    <form action="{{ path('rocket_cms_cmscontent_update', { 'id': cmsContent.id }) }}" class="form-horizontal" method="post" {{ form_enctype(serializedDataForm) }} novalidate>
        <div class="box">
            <div class="box-header">
                <h2><i class="halflings-icon edit"></i><span class="break"></span>{{ 'rocket.cms.content.title.edit' | trans }}</h2>
            </div>
            <div class="box-content">
                {{ form_widget(cmsContentForm) }}
            </div>
        </div>

        <div class="box ">
            <div class="box-header">
                <h2><i class="halflings-icon edit"></i><span class="break"></span>{{ 'rocket.cms.content.title.serialized_data' | trans }}</h2>
            </div>
            <div class="box-content">
                {% if content.formTemplate is not null %}
                    {% include content.formTemplate %}
                {% else %}
                    {{ form_widget(serializedDataForm) }}
                {% endif %}
            </div>
        </div>

        <a class="btn" href="{{ path('rocket_cms_cmscontent_index') }}">{{ 'rocket.cms.global.back'|trans }}</a>
        <button type="submit" class="btn btn-primary">{{ 'rocket.cms.global.save'|trans }}</button>
    </form>
{% endblock %}
