{% extends cms_backend_template %}

{% block content %}
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span>{{ 'rocket.cms.content.title.index'|trans }}</h2>
        </div>
        <div class="box-content">
            <table class="table table-bordered table-striped table-condensed">
                <tbody>
                {% set currentCmsType = null %}
                {% for entity in entities %}
                    {% if currentCmsType is not sameas(entity.cmsType.class) %}
                        {% set currentCmsType = entity.cmsType.class %}
                    <tr>
                        <td colspan="5" style="background-color: #c6c6c6;">
                            <h3>CMS Type: {{ entity.cmsType.class }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color: #c6c6c6;">{{ 'rocket.cms.content.locale'|trans }}</th>
                        <th style="background-color: #c6c6c6;">{{ 'rocket.cms.content.name'|trans }}</th>
                        <th style="background-color: #c6c6c6;">{{ 'rocket.cms.content.uri'|trans }}</th>
                        <th style="background-color: #c6c6c6;">{{ 'rocket.cms.content.require_auth'|trans }}</th>
                        <th style="background-color: #c6c6c6;">{{ 'rocket.cms.global.actions'|trans }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{{ entity.locale }}</td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.uri }}</td>
                        <td>{{ (entity.requireAuth ? 'rocket.cms.global.yes' : 'rocket.cms.global.no')|trans }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('rocket_cms_cmscontent_show', { 'id': entity.id }) }}">{{ 'rocket.cms.global.show'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('rocket_cms_cmscontent_edit', { 'id': entity.id }) }}">{{ 'rocket.cms.global.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('rocket_cms_cmscontent_active', { 'id': entity.id }) }}">{{ (entity.isActive ? 'rocket.cms.global.deactivate' : 'rocket.cms.global.activate')|trans }}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <select id="cms-content-type-select" name="cmsType" autocomplete="off">
        <option value="">{{ 'rocket.cms.content.messages.select_type'|trans }}</option>

        {% for cmsType in cmsTypes %}
            <option value="{{ path('rocket_cms_cmscontent_new', { 'id': cmsType.id }) }}">{{ cmsType.class }}</option>
        {% endfor %}
    </select>

    <button id="cms-content-new-button" class="btn">{{ 'rocket.cms.global.new'|trans }}</button>
{% endblock %}
